a {
    color: rgb(13,110,161);
    text-decoration: none;
    -webkit-transition:color .2s ease-in-out;
}
a:hover { color:#3593d9; }
body, table {
    font-size: 10.5pt;
    font-family: sans-serif;
}
ul {
    padding-left: 2em;
}
em {
    font-style: normal;
    text-decoration: underline;
}
